* {
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

body {
  padding-left: 5rem;
  padding-right: 5rem;
}

h1 {
  text-align: center;
}

.home {
  text-align: center;
  display: block;
}

img {
  display: block;
  margin: 2rem;
}